// font
// $font-family-main: 'Aa元气满满';
// $font-size-main: 16px;
// $font-size-catalog: 13px;
$font-family-main: 'yahei consolas hybrid';
$font-size-main: 14px;
$font-size-catalog: 12px;
$font-size-formatting: 8px;
$icon-size: 22px;

// size
$side-bar-width: 360px;
$icon-bar-width: 44px;

// color: side-bar
$icon-bar-bg: rgba(230, 229, 228, 0.8);
$tool-page-bar-bg: rgba(247, 246, 245, 0.85);
$icon-color: #999;
$icon-color-active: #333;
$icon-color-hover: #888;

// color: status-bar
$status-bar-bg: rgba(247, 246, 245, 0.9);
$status-bar-color: #444;

// color: catalog
$catalog-color: rgb(102, 84, 72);
$catalog-active-bg: rgba(234, 229, 245, 0.9);
$catalog-active-color: rgb(78, 78, 99);
$catalog-active-border-color: rgba(164, 119, 222, 0.9);
$catalog-hover: rgba(234, 229, 245, 0.6);
$catalog-modal-bg: rgba(255, 255, 255, 0.1);
$catalog-jump-bg: rgba(248, 247, 246, 0.9);
$catalog-jump-input-bg: #f4f4f4;
$catalog-jump-input-color: rgb(176, 149, 206);
$catalog-col-border: none;
$catalog-jump-li-border: 0.5px solid #eee;

// color: editor
$editor-bg: rgba(251, 250, 249, 0.90);
$editor-color: #333;

// color: sticky note
$sticky-note-bg: rgb(251, 250, 249);
$sticky-note-color: #666;
$sticky-note-box-shadow: 0px 0px 6px 0px #d1d1d1;

// color: headers
$header-1: #963607;
$header-2: #339966;
$header-3: #997B57;
$header-4: #809174;
$header-5: #B2867B;
$header-6: rgb(150, 142, 140);
$selection: rgb(242, 230, 250);

// color: cursor
$fat-cursor: rgb(229, 203, 247);
$cursor: #333;

// color: code, link, quote, em
$code-bg: rgba(243, 237, 230, 0.9);
$code-color: rgb(133, 114, 90);
$cm-em-bg: rgba(240, 230, 248, 0.9);
$cm-code-comment: #aaa;
$cm-link-bg: rgba(236, 243, 248, 0.9);
$cm-link-color: rgb(47, 147, 165);
$cm-quote-color: #999;
$cm-formatting-color: #d9d9d9;
$cm-list-bg: rgba(248, 242, 234, 0.9);
$cm-list-color: #bbb;
$cm-foldmarker-bg: rgba(247, 233, 221, 0.9);
$cm-foldmarker-color: rgb(238, 204, 172);
$cm-image-font-bg: #f4f4f4;
$cm-image-font-color: #ddd;
$cm-line-char-bg: rgb(216, 234, 253);
$cm-line-char-color: rgb(78, 54, 8);
$cm-img-shadow: 0px 0px 2px 0px #eee;

// color: content menu
$content-menu-bg: rgb(250, 249, 248);
$content-menu-color: #333;
$content-menu-border-bottom: 0.5px solid #f4f4f4;
$content-menu-shadow: 0px 0px 10px #ddd;
$content-menu-active-bg: $catalog-active-bg;
$content-menu-active-color: $content-menu-color;