// font
// $font-family-main: 'Aa元气满满';
// $font-size-main: 16px;
// $font-size-catalog: 13px;
$font-family-main: 'yahei consolas hybrid';
$font-size-main: 14px;
$font-size-catalog: 12px;

$font-size-formatting: 8px;
$icon-size: 22px;

// common
$selection: rgb(242, 230, 250);
$float-box-shadow: 0px 0px 4px 0px #ddd;
$float-bg: rgb(251, 250, 249);
$scrollbar-width: 6px;
$scrollbar-height: 6px;
$scrollbar-bg: #ddd;
$scrollbar-bg-hover: #ccc;
$scrollbar-radius: 1px;

// size: side bar
$side-bar-width: 360px;
$icon-bar-width: 40px;

// size: header
$header-1-indent: 5px;
$header-2-indent: 5px;
$header-3-indent: 16px;
$header-4-indent: 34px;
$header-5-indent: 52px;
$header-6-indent: 72px;
$not-header-indent: 130px;

// color: app
$app-bg: #f6f5f4;

// color: side-bar
$icon-bar-bg: rgba(233, 232, 231, 0.82);
$tool-page-bar-bg: rgba(248, 247, 246, 0.87);
$icon-color: #999;
$icon-color-active: #333;
$icon-color-hover: #888;

// color: status-bar
$status-bar-bg: rgba(248, 247, 246, 0.92);
$status-bar-color: #444;

// color: catalog
$catalog-color: rgb(102, 84, 72);
$catalog-active-bg: rgba(237, 229, 245, 0.9);
$catalog-active-color: rgb(78, 78, 99);
$catalog-active-border-color: rgba(164, 119, 222, 0.9);
$catalog-hover: rgba(237, 229, 245, 0.6);
$catalog-modal-bg: transparent;
$catalog-col-border: none;

// color: editor
$editor-bg: rgba(254, 253, 252, 0.9);
$editor-color: #333;

// color: sticky note
$sticky-note-bg: rgb(251, 250, 249);
$sticky-note-color: #666;

// color: headers
$header-1: #b17a46;
$header-2: #46b17b;
$header-3: rgb(160, 129, 91);
$header-4: rgb(91, 160, 102);
$header-5: #B2867B;
$header-6: rgb(150, 142, 140);

// color: cursor
$fat-cursor: rgb(229, 203, 247);
$cursor: #333;

// color: code, link, quote, em
$code-bg: rgba(243, 237, 230, 0.9);
$code-color: rgb(133, 114, 90);
$code-block-bg: rgba(249, 247, 244, 0.9);
$cm-em-bg: rgba(240, 230, 248, 0.9);
$cm-code-comment: #aaa;
$cm-link-bg: rgba(236, 243, 248, 0.9);
$cm-link-color: rgb(47, 147, 165);
$cm-quote-color: #999;
$cm-quote-bg: rgba(245, 245, 245, 0.9);
$cm-formatting-color: #d2d2d2;
$cm-list-bg: rgba(248, 242, 234, 0.9);
$cm-list-color: #bbb;
$cm-foldmarker-bg: rgba(252, 240, 230, 0.9);
$cm-foldmarker-color: rgb(241, 219, 199);
$cm-image-font-bg: #f4f4f4;
$cm-image-font-color: #ddd;
$cm-line-char-bg: rgb(216, 234, 253);
$cm-line-char-color: rgb(78, 54, 8);
$cm-img-shadow: 0px 0px 2px 0px #eee;

// color: content menu
$content-menu-bg: rgb(250, 249, 248);
$content-menu-color: #333;
$content-menu-border-bottom: 0.5px solid #f4f4f4;
$content-menu-shadow: 0px 0px 10px #ddd;
$content-menu-active-bg: $catalog-active-bg;
$content-menu-active-color: $content-menu-color;
